<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>
<body>

Busca: <input type="search" ng-model="busca">

<div ng-controller="CtrlLista">
    <div>Total: <b>{{pessoas.length}}</b></div>
    <ul>
        <li ng-repeat="pessoa in pessoas | filter:busca">
            {{pessoa.nome}}, <b>{{pessoa.cidade}}</b> <button ng-click="remover($index)">Remover</button>
        </li>
    </ul>



    <div>
        Nome: <input type="text" ng-model="vNome">
        <br>
        Cidade: <input type="text" ng-model="vCidade">
        <br>
        <button ng-click="adicionar()">Adicionar a lista</button>
    </div>

</div>

<script>
    var CtrlLista = function($scope) {

        $scope.pessoas = [
            {nome: "Maria", cidade: "São Paulo"},
            {nome: "João", cidade: "Salvador"},
            {nome: "Tico", cidade: "Curitiba"},
            {nome: "Marta", cidade: "Pirapora"}
        ];

        $scope.adicionar = function() {
          $scope.pessoas.push({
             nome: $scope.vNome,
             cidade: $scope.vCidade
          });

            $scope.vNome = "";
            $scope.vCidade = "";
        };

        $scope.remover = function(index) {
            $scope.pessoas.splice(index, 1);
        };


    };
</script>

</body>
</html>